<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">
        <img style="height: 30px" class="d-inline-block align-top">Principal
    </a>
    <a class="navbar-brand ml-auto" href="/desc">
        <img style="height: 30px" class="d-inline-block align-top"> nueva noticia +
    </a>

</nav>
